    /* Base styles */
    
    html,
    body,
    header {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }
    
    h3 {
        text-transform: uppercase;
    }
    /* Navigation */
    
    nav .navbar-brand {
        text-decoration: none;
        font-weight: 700;
        color: #0a1409;
    }
    
    nav .navbar-brand b {
        text-decoration: none;
        font-weight: 700;
        color: #55e944;
    }
    /* Jumbotrom  hero-image*/
    
    .background {
        position: relative;
    }
    
    .background .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .background .container h1 {
        color: #55e944;
        font-size: 5em;
        line-height: 105%;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 700;
    }
    
    .background .container h2 {
        color: #f0f8ef;
        font-size: 3em;
        line-height: 105%;
        margin-bottom: 0;
        text-align: center;
    }
    
    .background .container p {
        margin-top: 0;
        color: #f0f8ef;
        text-align: center;
        font-weight: 500;
    }
    
    .background .container .btn {
        border: 1.5px solid #f0f8ef;
        color: #f0f8ef;
        font-weight: 500;
        height: 50px;
        width: 200px;
        text-align: center;
        justify-content: center;
        margin-left: 40%;
        padding-top: 10px;
        text-decoration: none;
    }
    
    .background .container .btn:hover {
        background-color: #0a1409;
        color: #f0f8ef;
        font-weight: 500;
        border: none;
    }
    
    .jumbotron {
        background: linear-gradient( to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3)), url('https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg');
        height: 600px;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        margin-top: 0;
    }
    /* Section About*/
    
    .sectionAbout {
        margin-bottom: 50px;
    }
    
    .sectionAbout h3 {
        margin-bottom: 30px;
        font-weight: bold;
        color: #0a1409;
    }
    
    .sectionAbout h3 b {
        margin-bottom: 30px;
        font-weight: bold;
        color: #55e944;
    }
    
    .serviceBox {
        margin-top: 20px;
        text-align: center;
        position: relative;
    }
    
    .serviceBox .service-icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 10px;
        margin: 0 auto 45px;
        /*border: 2px solid rgba(0,0,0,0.7);*/
        box-shadow: 0 0 2px 2px#55e944;
        z-index: 1;
        position: relative;
        transition: all 0.5s ease 0s;
    }
    
    .serviceBox .service-icon span {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 30px;
        /* color: rgba(0, 0, 0, 0.8); */
        color: #2f302fd0;
    }
    
    .serviceBox .service-icon:hover {
        background: #0a1409;
        color: #f0f8ef;
        box-shadow: 0 0 2px 2px #f0f8ef;
    }
    
    .serviceBox .service-icon span:hover {
        color: #f0f8ef;
    }
    
    .serviceBox .service-icon span i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .serviceBox .title {
        font-size: 20px;
        color: #091807da;
        margin: 0 0 10px 0;
        text-transform: none;
    }
    
    .serviceBox .description {
        font-size: 15px;
        color: #a8a8a8;
        padding: 0 10px;
        margin: 0;
    }
    /*Section Banner*/
    
    .banner {
        height: 150px;
        background: linear-gradient( to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .6)), url('https://images.pexels.com/photos/2104152/pexels-photo-2104152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        color: #FFF;
        text-align: center;
        padding-top: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
    
    .banner .bannerContent h2 {
        font-size: 2.5em;
        font-weight: 500;
        color: #55e944;
    }
    
    .banner .bannerContent p {
        color: #f0f8ef;
        font-weight: 500;
    }
    /*Section Travel Options*/
    
    .travelOptions h3 {
        margin-bottom: 50px;
        font-weight: bold;
        color: #0a1409;
    }
    
    .travelOptions h3 b {
        font-weight: bold;
        color: #55e944;
    }
    
    .travelOptions p {
        text-align: justify;
        margin-bottom: 50px;
        color: #a8a8a8;
    }
    
    .travelOptions h6 {
        font-weight: bold;
        color: #091807da;
    }
    
    .travelOptions .card-body .btn {
        background-color: #55e944;
        color: #f0f8ef;
        font-weight: 500;
    }
    /*Section Testimonials*/
    
    .testimonials {
        margin: 50px 0;
    }
    
    .testimonials h3 {
        font-weight: bold;
        color: #0a1409;
    }
    
    .testimonials h3 b {
        font-weight: bold;
        color: #55e944;
    }
    
    .col-center {
        margin: 0 auto;
        float: none !important;
    }
    
    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }
    
    .carousel .item {
        color: #2f302fd0;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 290px;
    }
    
    .carousel .item .img-box {
        width: 130px;
        height: 130px;
        margin: 0 auto;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 50%;
    }
    
    .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
    }
    
    .carousel .testimonial {
        padding: 30px 0 10px;
    }
    
    .carousel .overview {
        font-style: italic;
    }
    
    .carousel .overview b {
        text-transform: uppercase;
        color: #55e944;
    }
    
    .carousel .carousel-control {
        width: 40px;
        height: 40px;
        margin-top: -20px;
        top: 50%;
        background: none;
    }
    
    .carousel-control i {
        font-size: 68px;
        line-height: 42px;
        position: absolute;
        display: inline-block;
        color: #0a1409;
        text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
    }
    
    .carousel .carousel-indicators {
        bottom: -40px;
    }
    
    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 1px 3px;
        border-radius: 50%;
    }
    
    .carousel-indicators li {
        background: #2f302fd0;
        border-color: transparent;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .carousel-indicators li.active {
        background: #2f302fd0;
        box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    /* Footer */
    
    #footer {
        color: #e2e9e2;
        font-size: 14px;
        background: #111111;
        font-family: "Poppins", sans-serif;
    }
    
    #footer .footer-top {
        padding: 60px 0 30px 0;
        background: #1b1b1b;
    }
    
    #footer .footer-top .footer-contact {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-contact h3 {
        font-size: 26px;
        line-height: 1;
        font-weight: 600;
        color: #f0f8ef;
    }
    
    #footer .footer-top .footer-contact h3 span {
        color: #55e944;
    }
    
    #footer .footer-top .footer-contact p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        color: #a8a8a8;
    }
    
    #footer .footer-top .footer-contact p strong {
        color: #f0f8ef;
    }
    
    #footer .footer-top h4 {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        padding-bottom: 12px;
    }
    /* #footer .footer-top h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background: #55e944;
    bottom: 0;
    left: 0;
} */
    
    #footer .footer-top .footer-links {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-links h4 {
        margin-left: -35px;
    }
    
    #footer .footer-top .footer-links ul {
        list-style: none;
        padding-left: 40px;
        margin: 0;
    }
    
    #footer .footer-top .footer-links ul i {
        padding-right: 5px;
        color: #f0f8ef;
        font-size: 12px;
        line-height: 1;
    }
    
    #footer .footer-top .footer-links ul li {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    
    #footer .footer-top .footer-links ul li:first-child {
        padding-top: 0;
    }
    
    #footer .footer-top .footer-links ul a {
        color: #a8a8a8;
        transition: 0.3s;
        display: inline-block;
        line-height: 1;
        text-decoration: none;
    }
    
    #footer .footer-top .footer-links ul a:hover {
        text-decoration: none;
        color: #f0f8ef;
    }
    
    #footer .footer-newsletter {
        font-size: 15px;
    }
    
    #footer .footer-newsletter h4 {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 12px;
    }
    
    #footer .footer-newsletter form {
        margin-top: 30px;
        background: #f0f8ef;
        padding: 5px 10px;
        position: relative;
        border-radius: 4px;
        text-align: left;
    }
    
    #footer .footer-newsletter p {
        color: #a8a8a8;
        font-weight: 400;
    }
    
    #footer .footer-newsletter form input[type="email"] {
        border: 0;
        padding: 4px 8px;
        width: calc(100% - 100px);
    }
    
    #footer .footer-newsletter form input[type="submit"] {
        position: absolute;
        top: 0;
        right: -1px;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px;
        background: #55e944;
        color: #fff;
        transition: 0.3s;
        border-radius: 0 4px 4px 0;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }
    
    #footer .footer-newsletter form input[type="submit"]:hover {
        background: #55e944;
    }
    
    #footer .credits {
        padding-top: 5px;
        font-size: 13px;
    }
    /* #footer .social-links {
        margin-left: 62%;
    } */
    
    #footer .social-links a {
        font-size: 18px;
        display: inline-block;
        background: #222222;
        color: #f0f8ef;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 4px;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }
    
    #footer .social-links a:hover {
        background: #55e944;
        color: #f0f8ef;
        text-decoration: none;
    }
    /* Contact Us page*/
    
    .contact .container .section-title h3 {
        margin-top: 10px;
        font-weight: bold;
        color: #0a1409;
        text-transform: none;
    }
    
    .contact .container .section-title h3 b {
        font-weight: bold;
        color: #55e944;
    }
    
    .contact .container .section-title p {
        font-weight: 400;
        color: #a8a8a8;
        text-align: center;
    }
    
    .contact .info-box {
        color: #444444;
        text-align: center;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 30px 0 32px 0;
        border-radius: 4px;
    }
    
    .contact .info-box i {
        font-size: 25px;
        color: #0a1409;
        border-radius: 50%;
        padding: 10px;
        border: 2px dotted#55e944;
        height: 50px;
        width: 50px;
    }
    
    .contact .info-box h3 {
        font-size: 20px;
        color: #0a1409ce;
        font-weight: 500;
        margin: 10px 0;
    }
    
    .contact .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
        color: #a8a8a8;
    }
    
    .contact .contact-form {
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 30px;
        border-radius: 4px;
    }
    
    .contact .contact-form .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: left;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .contact-form .error-message br+br {
        margin-top: 25px;
    }
    
    .contact .contact-form .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .contact-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }
    
    .contact .contact-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
    }
    
    .contact .contact-form .form-group {
        margin-bottom: 25px;
    }
    
    .contact .contact-form input,
    .contact .contact-form textarea {
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
    }
    
    .contact .contact-form input:focus,
    .contact .contact-form textarea:focus {
        border-color: #111111;
    }
    
    .contact .contact-form input {
        padding: 10px 15px;
    }
    
    .contact .contact-form textarea {
        padding: 12px 15px;
    }
    
    .contact .contact-form .text-center .btn {
        background: #55e944;
        border: 0;
        padding: 10px 32px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
        font-weight: 600;
    }
    
    .contact .contact-form .text-center .btn:hover {
        background: #0a1409;
        color: #f0f8ef;
    }
    
    @-webkit-keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }